<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>

        <!-- 开启二级缓存，默认是false -->
        <setting name="cacheEnabled" value="true"/>

        <setting name="defaultStatementTimeout" value="3000"/>
        <!--使用列别名替换别名 默认true -->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换Table:create_time到 Entity(createTime) -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--使用jdbc的getGeneratekeys获取自增主键值 -->
        <setting name="useGeneratedKeys" value="true"/>

        <!--控制台显示sql信息-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <plugins>
        <!-- SQL 执行性能分析，开发环境使用，线上不推荐。 maxTime 指的是 sql 最大执行时长 -->
        <plugin interceptor="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
            <property name="maxTime" value="100" />
            <property name="format" value="true" />
        </plugin>
    </plugins>

</configuration>