package ${package_name}.service.impl;

import ${package_name}.generator.base.BaseMapper;
import ${package_name}.generator.base.impl.BaseServiceImpl;
import ${package_name}.service.${model}Service;
import ${package_name}.mapper.${model}Mapper;
import ${package_name}.entity.${model};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* ${model}Service实现
* Created by XJH on ${ctime}.
*/
@Service
@Transactional
public class ${model}ServiceImpl extends BaseServiceImpl<${model}> implements ${model}Service {

    private final ${model}Mapper ${mapper}Mapper;

    @Autowired
    public ${model}ServiceImpl(${model}Mapper ${mapper}Mapper) {
        this.${mapper}Mapper = ${mapper}Mapper;
    }

    @Override
    public BaseMapper<${model}> baseMapper() { return ${mapper}Mapper; }

}